<style>
  .blink {
    animation: blinker 0.8s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>

<div class="main-page">
    <video id="background-video" autoplay loop muted poster>
      <source src="/assets/videos/video.mp4" type="video/mp4">
    </video>
    <div class="col-8 text-block">
      <h1 class="title">ITS BMSTU<span class="blink">_</span></h1>
      <p class="col-7 text-bold">Мы — студенты МГТУ им. Н.Э. Баумана, неравнодушные к развитию IT-индустрии</p>
      <p class="text-regular">Наша цель: сотворить лучшее студенческое IT сообщество.</p>
      <p class="text-regular">Мы расскажем о существующих возможностях в сфере IT</p>
      <p class="text-regular">в нашем Университете и за его пределами!</p>
      <button class="button">Подробнее</button>
    </div>
</div>
