<style>
  .blink {
    animation: blinker 0.8s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>

<div class="main-page">
  <div class="video-block">
    <video id="background-video" autoplay loop muted poster>
      <source src="/assets/videos/video.mp4" type="video/mp4">
    </video>
  </div>
    <div class="col-8 text-block">
      <h1 class="title">ITS BMSTU<span class="blink">_</span></h1>
      <p class="col-7 text-bold">Мы — студенты МГТУ им. Н.Э. Баумана, заинтересованные в развитии IT-сферы.</p>
      <p class="col-11 text-regular">Целью нашей организации является сотворить лучшее студенческое сообщество, которое дает возможность активным ребятам найти единомышленников, реализовать свой собственный проект или попасть на стажировку в IT-компанию!</p>
      <button class="button" (click)="clickAboutMenuItem()">Подробнее</button>
    </div>
</div>
