<style>
  .blink {
    animation: blinker 0.8s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>

<div class="main-page">
  <div class="video-block" >
    <video autoplay muted loop>
      <source src="/assets/videos/video.mp4" type="video/mp4">
    </video>
  </div>
    <div class="col-8 text-block">
      <h1 class="title">ITS BMSTU<span class="blink">_</span></h1>
      <p class="col-7 text-bold" [translate]="'header.description1'"></p>
      <p class="col-11 text-regular" [translate]="'header.description2'"></p>
      <button class="button" (click)="clickAboutMenuItem()" [translate]="'header.more'"></button>
    </div>
</div>
