@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.host {
    background-color: $color-dark;
}


.about-us {
  position: relative;
}

.title {
    padding-top: 5%;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 6.5vw;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}

.text-block {
  margin-top: 5%;
  //padding-left: 10%;
  padding-bottom: 10vw;
  font-family: $font-montserrat;
}

.text-regular {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.button-block {
  //padding-left: 10%;
  margin-top: 7%;
}


.checkbox {
  background-color: white;
  overflow: hidden;
  width: 8vw;
  height: 4vw;
  box-shadow: 4.53676px 5.67095px 9.07352px rgba(0, 0, 0, 0.25), inset 6.80514px 6.80514px 34.0257px rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(28.3548px);
  transition: 0.2s ease-in-out;
  border-radius: 75.9908px;
}

.checkbox.toggled {
  background-color: #3CD85E;
}

.checkbox-knob {
  background-color: #CBD4F3;
  round-clip: 50%;
  width: 4vw;
  height: 4vw;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: inset -6.80514px -6.80514px 13.6103px rgba(0, 0, 0, 0.15), inset 6.80514px 6.80514px 11.3419px rgba(255, 255, 255, 0.45);
}

.checkbox-knob img {
  height: 66%;
  position: relative;
  top: 17%;
  width: auto;
}

.checkbox-knob.toggled {
  transform: translateX(4.1vw);
}

.opened_checkbox_content {
  padding: 9vw 2vw 2vw 3vw;
  background-color: white;
  border-radius: 1.5vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.opened_checkbox_content .text-regular {
  color: black;
}

.about-item {
  background-color: #CBD4F3;
  border-radius: 1.5vw;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: $font-montserrat;
  text-align: left;
  padding: 1.3vw 2vw;
  transition: 0.2s ease-in-out;
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
}

.about-item-title {
  vertical-align: middle;
  display: flex;
  align-items: center;
  flex: 1;
}

.about-item-checkbox-container {
  width: 8vw;
}

.about-item:first-child {
  margin-top: 0;
}

.about-item-container {
  position: relative;
  margin-top: 6%;
  min-height: 9vw;
}

.about-item-container:first-child {
  margin-top: 0;
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
}

@media (max-width: 991px) {
  .col-6 {
    width: 100%;
  }
  .about-item-container {
    margin-top: 2%;
  }
  .about-item {
    font-size: 1.6vw;
  }
  .text-block {
    padding-bottom: 0;
  }
}
