<div class="host" id="about-us-id">
  <div class="container">
    <h1 class="title">Об организации</h1>
    <div class="row">
      <div class="col-6 text-block">
        <p class="text-regular">Активисты нашей организации – это студенты МГТУ им. Н.Э. Баумана, которые не стоят на месте и хотят сделать этот мир лучше! 
          Покой нам только снится! Ежедневно наша команда работает над созданием новых проектов, решая задачи, которые до этого никто не решал. 
          В нашей команде все при делах: кто-то создает неповторимые интерфейсы в IT-отделах в то время, как другие пишут сложные программы. Среди нас есть разработчики веб-приложений и те, кто защищает их от киберугроз. Разработка ведется не только на программном уровне, но и на аппаратном, ведь у нас могут спаять микросхему и даже запустить ракету!
          ITS BMSTU – это сообщество, где можно получить знания, открыть для себя новое направление в IT, найти друзей, будущих коллег и реализовать свои идеи!
          </p>
      </div>
      <div class="col-6 button-block">

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title">
              Научно-образовательное направление
            </div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleFirstCheckBox()" [class.toggled]="firstCheckBoxValue" class="checkbox">
                <div [class.toggled]="firstCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/first_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="firstCheckBoxValue" class="opened_checkbox_content">
            <div class="text-regular">— Курсы по различным IT специальностям</div>
            <div class="text-regular">— Мастер-классы и митапы</div>
            <div class="text-regular">— Тематические выезды</div>
            <div class="text-regular">— Конференции</div>
          </div>
        </div>

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title">
              <div class="">
                Проектное направление
              </div>
            </div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleSecondCheckBox()" [class.toggled]="secondCheckBoxValue" class="checkbox">
                <div [class.toggled]="secondCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/second_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="secondCheckBoxValue" class="opened_checkbox_content ">
            <div class="text-regular">— Курсы по различным IT специальностям</div>
            <div class="text-regular">— Мастер-классы и митапы</div>
            <div class="text-regular">— Тематические выезды</div>
            <div class="text-regular">— Конференции</div>
          </div>
        </div>

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title">
              Дополнительные активности
            </div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleThirdCheckBox()" [class.toggled]="thirdCheckBoxValue" class="checkbox ">
                <div [class.toggled]="thirdCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/third_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="thirdCheckBoxValue" class="opened_checkbox_content ">
            <div class="text-regular">— Курсы по различным IT специальностям</div>
            <div class="text-regular">— Мастер-классы и митапы</div>
            <div class="text-regular">— Тематические выезды</div>
            <div class="text-regular">— Конференции</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
