<div class="host" id="about-us-id">
  <div class="container">
    <h1 class="title" [translate]="'about-us.title'"></h1>
    <div class="row">
      <div class="col-6 text-block">
        <p class="text-regular" [translate]="'about-us.text'">
          </p>
      </div>
      <div class="col-6 button-block">

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title" [translate]="'about-us.block1-title'"></div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleFirstCheckBox()" [class.toggled]="firstCheckBoxValue" class="checkbox">
                <div [class.toggled]="firstCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/first_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="firstCheckBoxValue" class="opened_checkbox_content">
            <div class="text-regular" [translate]="'about-us.block1-text1'"></div>
            <div class="text-regular" [translate]="'about-us.block1-text2'"></div>
            <div class="text-regular" [translate]="'about-us.block1-text3'"></div>
            <div class="text-regular" [translate]="'about-us.block1-text4'"></div>
          </div>
        </div>

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title" [translate]="'about-us.block2-title'"></div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleSecondCheckBox()" [class.toggled]="secondCheckBoxValue" class="checkbox">
                <div [class.toggled]="secondCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/second_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="secondCheckBoxValue" class="opened_checkbox_content ">
            <div class="text-regular" [translate]="'about-us.block2-text1'"></div>
            <div class="text-regular" [translate]="'about-us.block2-text2'"></div>
            <div class="text-regular" [translate]="'about-us.block2-text3'"></div>
            <div class="text-regular" [translate]="'about-us.block2-text4'"></div>
          </div>
        </div>

        <div class="about-item-container">
          <div class="about-item">
            <div class="about-item-title" [translate]="'about-us.block3-title'"></div>
            <div class="about-item-checkbox-container">
              <div (click)="toggleThirdCheckBox()" [class.toggled]="thirdCheckBoxValue" class="checkbox ">
                <div [class.toggled]="thirdCheckBoxValue" class="checkbox-knob text-center">
                  <img alt="1" height="34" src="assets/icons/third_checkbox.svg" width="34">
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="thirdCheckBoxValue" class="opened_checkbox_content ">
            <div class="text-regular" [translate]="'about-us.block3-text1'"></div>
            <div class="text-regular" [translate]="'about-us.block3-text2'"></div>
            <div class="text-regular" [translate]="'about-us.block3-text3'"></div>
            <div class="text-regular" [translate]="'about-us.block3-text4'"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
