@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.host {
    background-color: $color-dark;
}

.about-us {
  position: relative;
}

.title {
    padding-top: 5%;
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}

.text-block {
    margin-top: 5%;
    margin-left: 10%;
    padding-bottom: 10vw;
    font-family: $font-montserrat;
}

.text-regular {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: #FFFFFF;
}

.button-block {
    margin-left: 10%;
    margin-top: 11%;
}

//.button {
//  border: 0em;
//  background-color: #CBD4F3;
//  margin-bottom: 10%;
//  width: 40vw;
//  height: 5vw;
//  border-radius: 1.5vw;
//  font-size: 1.5vw;
//  font-weight: bold;
//  font-family: $font-montserrat;
//  text-align: left;
//  padding-left: 2vw;
//  transition: 0.2s ease-in-out;
//}

//button:hover {
//  background-color: #8f8f8f;
//}

.checkbox {
  background-color: white;
  //border-radius: 16px;
  overflow: hidden;
  width: 8vw;
  height: 4vw;
  //width: 100px;
  box-shadow: 4.53676px 5.67095px 9.07352px rgba(0, 0, 0, 0.25), inset 6.80514px 6.80514px 34.0257px rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(28.3548px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 75.9908px;
}

.checkbox-knob {
  background-color: #CBD4F3;
  round-clip: 50%;
  width: 4vw;
  height: 4vw;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: inset -6.80514px -6.80514px 13.6103px rgba(0, 0, 0, 0.15), inset 6.80514px 6.80514px 11.3419px rgba(255, 255, 255, 0.45);

}

.checkbox-knob img {
  height: 66%;
  position: relative;
  top: 17%;
  width: auto;
}

.checkbox-knob.toggled {
  //background-color: #8f8f8f;
  // move 50px right
  transform: translateX(4.1vw);


}

.opened_checkbox_content {
  padding: 50px;
  background-color: white;
  //padding-top: 150px;
}

.opened_checkbox_content .text-regular {
  color: black;
}


.about-item {
  background-color: #CBD4F3;

  width: 40vw;
  //height: 5vw;
  border-radius: 1.5vw;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: $font-montserrat;
  text-align: left;
  padding: 1.3vw 2vw;
  transition: 0.2s ease-in-out;
  //position: absolute;
  //display: inline-block;
}

.about-item:first-child {
  margin-top: 0;
}

.about-item-container {
  //position: relative;
  margin-top: 10%;

}

.about-item-container:first-child {
  margin-top: 0;
}

.about-item-card {
  //position: absolute;
  //display: inline-block;
}

.icon {
  width: 1.5vw;
  height: 1.5vw;
}
