<div class="root">
  <div class="photo-block">
    <div class="row">
      <div class="col-12">
        <div class="photo-container first-image-container">
          <video id="background-video" autoplay loop muted poster>
            <source src="/assets/videos/video.mp4" type="video/mp4">
          </video>
        </div>
        <div class="col">
          <button class="button" (click)="goBack()">Вернуться</button>
        </div>
        <div class="col">
<!--          {{}}-->
        </div>

      </div>
    </div>
  </div>
  <div class="photo-block container">
    <div class="row">
      <div class="{{photo.columnClass}}" *ngFor="let photo of photos">
        <div class="photo-container other-images-container ">
          <img src="{{photo.imageSrc}}">
        </div>
      </div>
    </div>
  </div>
  <div class="button-row" *ngIf="next !== null">
    <img class="button-show" (click)="downloadPhotos()" src="/assets/images/about.svg">
  </div>

</div>
<!--<gallery [items]="images"></gallery>-->
<app-our-partners [slug]="slug"></app-our-partners>

