<script>
  const myButton = document.querySelector('.btn-link');
  
  myButton.addEventListener('click', function() {
    myButton.classList.add('clicked');
  });

  myButton.addEventListener('click', function() {
  if (myButton.classList.contains('clicked')) {
    myButton.classList.remove('clicked');
  } else {
    myButton.classList.add('clicked');
  }
});
</script>

<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <div class="logo-img"><img src="../../../assets/icons/logo.svg" alt="лого"></div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#nabBarTogglePanel"
            aria-controls="nabBarTogglePanel"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nabBarTogglePanel">
      <div class="menu-block">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" (click)="clickAboutMenuItem()">
            <a class="nav-link" [translate]="'navigation-bar.aboutOrganisation'"></a>
          </li>
          <li class="nav-item" (click)="clickInfographicsItem()">
            <a class="nav-link" [translate]="'navigation-bar.infographics'"></a>
          </li>
          <li class="nav-item" (click)="clickEventsItem()">
            <a class="nav-link" [translate]="'navigation-bar.events'"></a>
          </li>
          <li class="nav-item" (click)="clickContactsItem()">
            <a class="nav-link" [translate]="'navigation-bar.contacts'"></a>
          </li>
        </ul>
      </div>
      <ul *ngFor="let language of translations" class="languages_list">
        <li>
          <button
            (click)="onLanguageClick(language.value)"
            class="btn btn-link"
            type="button"
          >
            {{ language.display_name }}
          </button>
        </li>
      </ul>
<!--      <img class="translate-img" src="../../../assets/icons/translate.svg" alt="кнопка перевода">-->
    </div>
  </div>
</nav>
