<div class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-2 logo">
        <img class="logo-img" src="../../../assets/icons/logo.svg" alt="лого">
      </div>
      <div class="col-8">
        <button class="button">Об организации</button>
        <button class="button">Наши мероприятия</button>
        <button class="button">Лекции</button>
        <button class="button">Контакты</button>
      </div>
      <div class="col-2">
        <img class="translate-img" src="../../../assets/icons/translate.svg" alt="кнопка перевода">
      </div>
    </div>
  </div>
</div>

