@import '../../../styles/colors';
@import '../../../styles/fonts';

.logo-img {
  margin-left: 7vw;
  margin-right: 10vw;
  width: 5vw;
}

.translate-img {
  width: 2.5vw;
}

.navbar {
  background-color: $color-dark;
}

.nav-link {
  color: white;
  font-family: $font-montserrat;
  font-size: 1vw;
  margin-right: 3vw;
}

@media (max-width: 991px) {
  .translate-img {
    display: none;
  }
}
