<div class="photo-block container">
  <h1 class="title">Мероприятия</h1>
  <div class="row">
    <div class="col row">
      <div class="{{photo.columnClass}}" *ngFor="let photo of photos.slice(0, 3)" (click)="navigateToEvent(photo)"
      >
        <div class="photo-container other-images-container">
          <img src="{{photo.imageSrc}}">
        </div>
      </div>
    </div>
    <div class="col row">
      <div class="{{photo.columnClass}}" *ngFor="let photo of photos.slice(3, 6)" (click)="navigateToEvent(photo)">
        <div class="photo-container other-images-container">
          <img src="{{photo.imageSrc}}">
        </div>
      </div>
    </div>

  </div>
</div>
