@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

.title {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 5%;
}

.photo-container {
  margin-bottom: 1vw;
  border-radius: 2.5vw;
}

.photo-container:hover {
  box-shadow: 0 0 3vw rgba(255, 255, 255, 0.6);
}

.other-images-container:after {
  box-shadow: inset 8px 8px 20px rgba(255, 255, 255, 0.45);
  content: '';
  border-radius: 2.1vw;
  position: absolute;
  top: 0;
}

.other-images-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.other-images-container img {
  width: 99.999%;
  border-radius: 2.1vw;
  background: $color-dark; /* Цвет фона */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  box-sizing: border-box;
  object-fit: cover;

}

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  .col-6 .other-images-container img {
    height: 250px !important;
  }

  .col-12 .other-images-container img {
    height: 460px !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .col-6 .other-images-container img {
    height: 180px !important;
  }

  .col-12 .other-images-container img {
    height: 300px !important;
  }
}

@media only screen and (min-width: 680px) and (max-width: 800px) {
  .col-6 .other-images-container img {
    height: 140px !important;
  }

  .col-12 .other-images-container img {
    height: 275px !important;
  }
}


@media only screen and (min-width: 320px) and (max-width: 680px) {
  .col-6 .other-images-container img {
    height: 110px !important;
  }

  .col-12 .other-images-container img {
    height: 250px !important;
  }
}

@media only screen and (max-width: 320px) {
  .col-6 .other-images-container img {
    height: 90px !important;
  }

  .col-12 .other-images-container img {
    height: 200px !important;
  }
}
.host {
  background-color: $color-dark;
}

.event-title {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  position: absolute;
  margin-top: -4.3vw;
  text-align: center;
  width: 100%;
  color: $color-white;
  opacity: 0.8;
}

