@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

.root
{
  background: $color-dark;
}

.first-image-container{
  margin-bottom: 70px;
  position: relative;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;

}

.first-image-container img{
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  box-sizing: border-box;
}

.first-image-container:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(20,16,75,0) 0%,rgba(20,16,75,1) 100%);
}

.title {
  padding-top: 580px;
  padding-left: 500px;
  font-size: 65px;
  font-family: $font-montserrat;
  Opacity: 60%;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.15);
}

.length {
  color: white;
}

.photo-container{
  margin-bottom: 70px;
}

.other-images-container:after{
  box-shadow: inset 8px 8px 20px rgba(255, 255, 255, 0.45);
  content: '';
  border-radius: 40.1156px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.other-images-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.other-images-container img {
  width: 100%;
  height: 100%;
  border-radius: 40.1156px;
  background: #fc0; /* Цвет фона */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  box-sizing: border-box;
}


