@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';


.first-image-container {
  margin-bottom: 70px;
  position: relative;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.first-image-container img{
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  box-sizing: border-box;
}

.first-image-container:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(20,16,75,0) 0%,rgba(20,16,75,1) 100%);
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 5%;
}

.square {

}

.length {
  color: white;
}

.photo-container {
  margin-bottom: 24px;
}

.photo-block .row .col-6 img {
  //width: 346px;
  //height: 288px;
  //object-fit: cover;
}

.photo-block .row .col-6 {
  //height: 400px;
  //float: left;
  //position: relative;
  ////width: 30%;
  ////padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  ////margin: 1.66%;
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.photo-block .row .col-6 img {
  //width: 346px;
  //height: 288px;
  //object-fit: cover;
}

.other-images-container:after {
  box-shadow: inset 8px 8px 20px rgba(255, 255, 255, 0.45);
  content: '';
  border-radius: 40.1156px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.other-images-container {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.other-images-container img {
  width: 100%;
  //height: 100%;
  border-radius: 40.1156px;
  background: #fc0; /* Цвет фона */
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block;
  box-sizing: border-box;
  object-fit: cover;
}

//.col-6 .other-images-container img {
//  height: 1500px !important;
//}
//
//.col-12 .other-images-container img {
//  height: 4500px !important;
//}

@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  .col-6 .other-images-container img {
    height: 250px !important;
  }

  .col-12 .other-images-container img {
    height: 460px !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .col-6 .other-images-container img {
    height: 180px !important;
  }

  .col-12 .other-images-container img {
    height: 300px !important;
  }
}

@media only screen and (min-width: 680px) and (max-width: 800px) {
  .col-6 .other-images-container img {
    height: 140px !important;
  }

  .col-12 .other-images-container img {
    height: 275px !important;
  }
}


@media only screen and (min-width: 320px) and (max-width: 680px) {
  .col-6 .other-images-container img {
    height: 110px !important;
  }

  .col-12 .other-images-container img {
    height: 250px !important;
  }
}

@media only screen and (max-width: 320px) {
  .col-6 .other-images-container img {
    height: 90px !important;
  }

  .col-12 .other-images-container img {
    height: 200px !important;
  }
}


