@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.host {
  background-color: $color-dark;
}

.title {
  padding-top: 5%;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 5%;
}

.long-title {
  padding-top: 5%;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 5.5vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 5%;
}

