<!--&lt;!&ndash;<div class="container" style="margin-bottom: 50px">&ndash;&gt;-->
<!--&lt;!&ndash;  <carousel [images]="images" [lightDOM]="true">&ndash;&gt;-->
<!--&lt;!&ndash;  </carousel>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<ngx-slick-carousel [style.width]="300" [style.height]="300">-->
<!--  <div ngxSlickItem *ngFor="let image of images" [style.width]="100">-->
<!--    Test-->
<!--&lt;!&ndash;    [style.transform]="'scale(' + image.zoom + ')'"&ndash;&gt;-->
<!--&lt;!&ndash;    <img [src]="image.path"  />&ndash;&gt;-->
<!--  </div>-->
<!--</ngx-slick-carousel>-->
