@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.host {
  background-color: $color-dark;
  position: relative;
}

.title {
  padding-top: 5%;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 5%;
}

.line-1 {
  position: absolute;
  z-index: 1000;
  top: 16vw;
  left: 3vw;
  width: 14vw;
}