<div class="host">
  <img class="left-dots-1" src="/assets/images/left-dots.svg">
  <img class="right-dots-1" src="/assets/images/right-dots.svg">
  <img class="left-dots-2" src="/assets/images/left-dots.svg">
  <img class="right-dots-2" src="/assets/images/right-dots.svg">
  <img class="line-1" src="/assets/images/pink-line.svg">
  <img class="line-2" src="/assets/images/pink-line.svg">
  <img class="line-3" src="/assets/images/pink-line.svg">
  <img class="line-4" src="/assets/images/pink-line.svg">
  <img class="line-5" src="/assets/images/pink-line.svg">
  <app-main-page-header></app-main-page-header>
  <app-about-us></app-about-us>
  <app-infographics></app-infographics>
  <app-events-collection></app-events-collection>
  <!--  <button class="demo-button" (click)="toggleIsEnabled()">{{ isEnabled ? 'Disable' : 'Enable' }}</button>-->
  <app-our-partners></app-our-partners>
</div>

