@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.main-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 1)), url("../../../assets/images/background-image.png");
  background-size: 100%;
  height: 750px;
}

.title {
  padding-top: 140px;
  font-size: 70px;
  text-shadow: $color-dark 1px;
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
  margin-top: 40px;
  font-size: 20px;
  text-shadow: $color-dark 1px;
}

.text-regular {
  font-size: 20px;
}

.text-block {
  margin-left: 150px;
  font-family: $font-montserrat;
  color: $color-white;
}
.button {
  margin-top: 80px;
  background: $color-dark;
  color: $color-white;
  font-family: $font-montserrat;
  border-radius: 80px;
  border: 1px solid $color-dark;
  height: 55px;
  width: 190px;
  box-shadow: 8px $color-white;
}
