<div class="root">
  <!--  <div class="col-12 first-image-container" >-->
  <!--    <img >-->
  <!--  </div>-->
  <div class="photo-block">
    <div class="row">
      <div class="col-12">
        <div class="photo-container first-image-container">
          <!--          <img class="photo" [style.background]="firstPhotoStyleBackground2">-->
<!--          <img class="" src="{{photos[0].url}}">-->
          <img src="http://its-bmstu.ru/media/actions/photo/uf2N3P_Uxtc_U9VAnvJ.jpg" />
          <!--          <img class="photo photo2" [style.background]="firstPhotoStyleBackground2">-->
        </div>
      </div>
    </div>
  </div>
  <div class="photo-block container">
    <div class="row">
      <div class="{{photo.columnClass}}" *ngFor="let photo of photos">
        <div class="photo-container">
          <img class="photo" src="{{photo.url}}">
        </div>
      </div>
    </div>
  </div>
</div>
