@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.about-us {
    height: 100%;
}

div {
    background-color: #14104B;
}

.title {
    padding-top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 171px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}

.text-block {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 300px;
    font-family: 'Montserrat';
}

.text-regular {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: #FFFFFF;
}

.button-block {
    margin-left: 200px;
    margin-top: 200px;
}

.button {
    border: 0em;
    background-color: #cfcfcf;
    margin-bottom: 55px;
    width: 762px;
    height: 100px;
    border-radius: 30px;
    font-size: 29px;
    font-weight: bold;
    font-family: "Montserrat";
    text-align: left;
    padding-left: 30px;
    transition: 1s;
}

button:hover {
    background-color: #8f8f8f;
}