<div class="about-us">
    <h1 class="title">Об организации</h1>
    <div class="row align-items-start">
        <div class="col-4 text-block">
            <p class="text-regular">Мы студенты МГТУ им. Н. Э. Баумана, и спокойная жизнь нам только снится. Каждый день, наша команда старается сделать мир чуточку лучше, создавая сложные программы и решая нерешаемые задачи. Кто-то из нас управляет IT отделами, а кто-то рисует и создаёт красивые интерфейсы. Кто-то защищает нас от киберугроз, разрабатывает мобильные приложения, поёт, танцует. Кто-то паяет микросхемы, запускает ракеты! Вместе мы многогранная команда, желающая поделиться с окружающими своими знаниями, эмоциями, найти новых друзей, будущих коллег и просто хорошо провести время!</p>
        </div>
        <div class="col-4 button-block">
            <button class="button">Научно-образовательное направление</button>
            <button class="button">Проектное направление</button>
            <button class="button">Дополнительные активности</button>
        </div>
    </div>
</div>
