<div class="infographics">
    <h1 class="title">Инфографика</h1>
    <div class="blocks">
        <div class="circ">
            <div class="hover-circ">
                <div class="circ-block">
                    <a class="hover-circ-text-1">150</a>
                    <a class="hover-circ-text-2">организаторов</a>
                </div>
                <div class="circ-block">
                    <a class="hover-circ-text-3">Более 1000</a>
                    <a class="hover-circ-text-3">участников</a>
                </div>
                <button class="hover-circ-button">Подробнее</button>
            </div>
            <div class="circ-block">
                <a class="circ-text-1">150</a>
                <a class="circ-text-2">организаторов</a>
            </div>
            <div class="circ-block">
                <a class="circ-text-3">Более 1000</a>
                <a class="circ-text-3">участников</a>
            </div>
        </div>
        <div class="line">
            <div class="rec">
                <a class="title-left">Выезды</a>
                <div class="hover-rec">
                    <p class="hover-title">Выезды</p>
                    <p class="hover-text">Организуем тематические выезды</p>
                    <button class="hover-button">Подробнее</button>
                  </div>
            </div>
            <div class="rec">
                <a class="title-right">Митапы</a>
                <div class="hover-rec">
                    <p class="hover-title">Митапы</p>
                    <p class="hover-text">Организуем организуем досуг программистов</p>
                    <button class="hover-button">Подробнее</button>
                  </div>
            </div>
        </div>
        <div class="line">
            <div class="rec">
                <a class="title-left">Лекции</a>
                <div class="hover-rec">
                    <p class="hover-title">Лекции</p>
                    <p class="hover-text">Проводим лекции на актуальные в IT темы</p>
                    <button class="hover-button">Подробнее</button>
                  </div>
            </div>
            <div class="rec">
                <a class="title-right">Курсы</a>
                <div class="hover-rec">
                    <p class="hover-title">Курсы</p>
                    <p class="hover-text">Делимся знаниями и опытом</p>
                    <button class="hover-button">Подробнее</button>
                  </div>
            </div>
        </div>
    </div>
</div>