<div class="infographics">
    <h1 class="title">Инфографика</h1>
    <div class="blocks">
        <div class="circ">
            <div class="circ-block">
                <a class="circ-text-1">150</a>
                <a class="circ-text-2">организаторов</a>
            </div>
            <div class="circ-block">
                <a class="circ-text-3">Более 1000</a>
                <a class="circ-text-3">участников</a>
            </div>
        </div>
        <div class="line">
            <div class="rec"><a class="rec-text-left">Выезды</a></div>
            <div class="rec"><a class="rec-text-right">Митапы</a></div>
        </div>
        <div class="line">
            <div class="rec"><a class="rec-text-left">Лекции</a></div>
            <div class="rec"><a class="rec-text-right">Курсы</a></div>
        </div>
    </div>
</div>