<div class="carousel-counter" *ngIf="isCounter">{{counter}}</div>

<div class="carousel-container" [class.carousel-moving]="isMoving">
  <div class="carousel-cells" #cells (transitionend)="handleTransitionendCellContainer($event)">
    <ng-content></ng-content>

    <ng-template ngFor let-image [ngForOf]="images" let-i="index">
      <div class="carousel-cell"
           [style.width]="getCellWidth()+'vw'"
           [style.border-radius]="borderRadius+'px'"
           *ngIf="i < cellLimit">
        <!-- Image -->
        <img
          *ngIf="getImage(i) && getImage(i)['image']"
          [src]="getImage(i)['image']['path']"
          [style.object-fit]="objectFit"
          draggable="false"/>

      </div>
    </ng-template>
  </div>

</div>
<!--<div class="carousel-dots">-->

<!--  <div class="carousel-dot" [class.carousel-dot-active]="i === activeDotIndex"-->
<!--       *ngFor="let dot of dotsArr; index as i"></div>-->

<!--</div>-->

