<div class="contacts" id="contacts-id">
    <h1 class="title">Контакты</h1>
    <p class="text-regular">Следи за нами в социальных сетях</p>
    <div class="social-block">
        <div class="line">
            <img class="logo" src="/assets/icons/vk.svg">
            <a class="text" href="https://vk.com/studsovet_iu">Студсовет ИУ</a>
        </div>
        <div class="line">
          <img class="logo" src="/assets/icons/vk.svg">
            <a class="text" href="https://vk.com/its_bmstu">ITS BMSTU</a>
        </div>
        <div class="line">
          <img class="logo" src="/assets/icons/tg.svg">
            <a class="text" href="https://t.me/studsovet_iu">Телеграм</a>
        </div>
        <div class="line">
          <img class="logo" src="/assets/icons/git.svg">
            <a class="text" href="https://github.com/IT-S-BMSTU">GitHub</a>
        </div>
    </div>
  <img class="macbook" src="/assets/images/macbook.svg">
</div>
