<div class="contacts">
    <h1 class="title">Контакты</h1>
    <p class="text-regular">Следи за нами в социальных сетях</p>
    <div class="social-block">
        <div class="line">
            <img class="logo" src="/assets/icons/vk.svg">
            <a class="text">Студсовет ИУ</a>
        </div>
        <div class="line">
            <img class="logo" src="/assets/icons/vk.svg">
            <a class="text">ITS BMSTU</a>
        </div>
        <div class="line">
            <img class="logo" src="/assets/icons/tg.svg">
            <a class="text">Телеграм</a>
        </div>
        <div class="line">
            <img class="logo" src="/assets/icons/git.svg">
            <a class="text">GitHub</a>
        </div>
    </div>
    <img class="macbook" src="/assets/images/macbook.svg">
</div>
