<div class="contacts">
    <h1 class="title">Контакты</h1>
        <div class="col-6 block">
            <p class="text-regular">Следи за нами в социальных сетях</p>
            <div class="row align-items-start">
                <div class="col-2 logos">
                    <img class="logo" src="/assets/icons/vk.svg">
                    <img class="logo" src="/assets/icons/vk.svg">
                    <img class="logo" src="/assets/icons/tg.svg">
                    <img class="logo" src="/assets/icons/git.svg">
                </div>
                <div class="col-6 text-block">
                    <p class="text">Студсовет ИУ</p>
                    <p class="text">ITS BMSTU</p>
                    <p class="text">Телеграм</p>
                    <p class="text">GitHub</p>
                </div>
        </div>
    </div>
    <img class="macbook" src="/assets/images/macbook.svg">
</div>
