div {
    background-color: #14104B;
}
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 171px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}
    
.block {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 300px;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    color:#FFFFFF;
}

.text-regular {
    margin-bottom: 50px;
}

.logo {
    margin-bottom: 50px;
}
  
.text {
    margin-bottom: 55px;
}

.macbook {
    // position: absolute;
    width: 1243px;
    height: 829.8px;
    left: 800px;
    bottom: -240%;
}