div {
    background-color: #14104B;
}

.contacts {
    position: relative;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 171px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.4;
}
    
.block {
    margin-top: 100px;
    margin-left: 150px;
    padding-bottom: 300px;
    font-family: 'Montserrat';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    color:#FFFFFF;
}

.text-regular {
    margin-bottom: 50px;
}

.logo {
    margin-bottom: 50px;
}
  
.text {
    margin-bottom: 55px;
}

.macbook {
    z-index: 10;
    position: absolute;
    top: 40%;
    right: 0px;
    width: 50vw;
}